<div class="card-columns">
    <div class="card bg-secondary text-white shadow-sm">
      <div class="card-body">
        <h4 class="card-title" routerLink="/contactManagement">Contact Managment</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card bg-secondary text-white shadow-sm">
      <div class="card-body">
        <h4 class="card-title">Meeting Managment</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card bg-secondary text-white shadow-sm">
      <div class="card-body">
        <h4 class="card-title">Profile Managment</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card bg-secondary text-white shadow-sm">
      <div class="card-body">
        <h4 class="card-title">Other Managment</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
</div>

  <!-- <router-outlet></router-outlet> -->
  