
<!-- <div class="form-group">
  <label for="firstName">First Name</label>
  <input type="datetime" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" ngModel #firstName=ngModel>
  <small *ngIf="!firstName.valid" id="helpId" class="text-muted">Help text</small>
</div> -->

<!-- background-color: whitesmoke; border-radius: 5px; padding: 5px -->


<form style="width: 40%; margin: 15px 15px 15px 0px">

  <div class="card border-dark bg-light">
    
    <div class="card-header">
      <h5>Meeting Details</h5>
    </div>
    <div class="card-body">
      <!-- <h4 class="card-title">Meeting details</h4> -->
      <!-- <p class="card-text">Text</p> -->

      <div class="form-group">
        <label for="">First name</label>
        <input type="text"
          class="form-control" name="firstName" id="firstName" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="">Last name</label>
        <input type="text"
          class="form-control" name="lastName" id="lastName" aria-describedby="helpId" placeholder="">
        
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email"
          class="form-control" name="emailId" id="emailId" aria-describedby="helpId" placeholder="">
        
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password"
          class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="">
        
      </div>

      <footer></footer>

    </div>
  </div>

  


</form>
