<div class="background-fill">
  <h1>Practice application</h1>
</div>

<p>
  dashboard works and status is: {{ getStatus() }}
</p>
<p [innerText]="buttonClickMessage"></p>

<div>
    <!-- <input type="text" name="textField1" id="tf1" (input)="getInputText($event)"> -->
    <!-- <label>{{inputText1}}</label> -->
    <input type="text" name="textField2" id="tf2" [(ngModel)]="inputText1">
    <label>{{inputText1}}</label>
    <p>
    <button type="button" class="btn btn-primary" [disabled]="!nStatus" (click)="onClickButton()">Click me</button>  
    </p>
</div>


